* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1, .seo {
    color: #d9dcd6;
    display: inline-block;
    font-size: 48px;
}

.hop-to {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}


/* Took out header tag as this is the only ul and li in the code. If there was more i would add an appropriate html element such as a class or id to select and single out this group of ul and li.*/

ul, li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}



.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Below i used article-content to group together the elements in the html file with the id of content because they were all styled the same and it makes the css look cleaner and easier to review. */

.article-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.article-content img {
    max-height: 200px;
}

.article-content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 16px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Changed content from class to id because it is describing the main section. */

#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Changed div to aside because it helps to describe where the text is going to be located making it easier to understand what to do with it in the css. */

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}


/* Again same as with the article-content class i did the same by consolidating this part of the css into a benefit class as it describes what this section is about and all of the tags in the css had the same styling.*/

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}